/.settings
.project

dao-api/.classpath
dao-api/.project
dao-api/.settings/
dao-api/target/

dao-jdbc-impl/.classpath
dao-jdbc-impl/.project
dao-jdbc-impl/.settings/
dao-jdbc-impl/target/

dao-orm-impl/.classpath
dao-orm-impl/.project
dao-orm-impl/.settings/
dao-orm-impl/target/
dao-orm-impl/bin/

service/.classpath
service/.project
service/.settings/
service/target/
service/logs/

web/.classpath
web/.project
web/.settings/
web/target/
web/logs/

